p.tkmine-cr {
    font-size: 50%;
    color: cadetblue;
    text-align: right;
}
li {
   font-size: 70%;
    border-bottom: 1px #ff980057 dashed;
    padding: 2px;
}

p.tkmine-video {
    text-align: center;
}
p.tkmine-video video {
    height: inherit;
    max-width: 100%;
}

 p.tkmine-video video {
   background: transparent url('https://storage.googleapis.com/babyth0c.appspot.com/100013617187517-812725812524651-0.jpg') 100% 100% / cover no-repeat ;
 }

 
 .tkmine-tiltestart, .tkmine-thumb{
  height: 0px;
  width: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  }
  
.tkmine-photos p {
    text-align: center;
}
.tkmine-photos p img {
    max-width: 100%;
    height: auto;
}
video {
    max-width: 100%;

}
.tkmine-video {
    text-align: center;
}
.tkmine-cr
{
    font-size: 60%;
    color: #b5c8c8;
    text-align: right;
}
.tkmine-cr a
{
  color: #b5c8c8;
}
.tkmine
  {
    /*max-width: 500px;*/ 

    width: 0px;
    height: 0px;
    overflow: hidden;
  }
  .tkmine-clear{
    clear: both;
  }
  .tkmine h5
  {
    font-size: 140%;
      color: chocolate;
      margin: 1% 0%;
      text-align: center;
  }
  .tkmine ul
  {
    font-size: small;
      padding-inline-start: 0px;
      border-top: 1px #ec8181 solid;
        list-style: unset;
  }
  .tkmine ul li
  {
    margin: 1% 0%;
  }
    .tkmine ul li a
  {
      color: #349ea9;
    }
  .tkmine ul li h6
  {
    color: #4CAF50;
      padding: 0%;
      margin: 0%;
      font-size: unset;
      font-weight: bold;
  }
  .tkmine-photo
  {
    float: left;
      height: 100px;
      width: 100px;
  }
  .tkmine-content
  {
    float: left;
      height: 100px;
      max-width: 70%;
      overflow: hidden;
      margin-left: 1%;
  }
  .tkmine-photo img
  {
    max-width: 100px;
    max-height: 100px;
  }
  .tkmine-source
  {
    font-size: 80%;
      color: #ccccccad;
  }
  .tkmine-source a
  {
      color: #41bbb0ad;
  }
  .tkmine-description
  {
    font-style: italic;
      font-size: 80%;
      color: #999c7b;
  }

.tkmine-color{color: #0b9e4d; font-weight: bold;}
.tkmine-comments{
    border-bottom: 1px #e8d08787 dashed;
    padding-bottom: 2px;
    color: #f38526fa;
  } 
  .tkmine-comments img {
  	width: auto !important;
    height: auto !important;
  }
  .tkmine-comments a{
    text-decoration: unset;
      color: darkcyan;
  }
  .tkmine-users
  {
    text-align: right;
      font-size: 0px;
      font-style: italic;
      color: cadetblue;
  }
  .tkmine-users a
  {
    color: cadetblue;
  }
  .tkmine-photos img
  {
    width: 100%;
    height: auto;
  }
  .tkmine-videos 
  {
    text-align: center;
  }
.caption
{display: none;
}
.post-body img {
    height: inherit;
    width: 50%;
}
.meens-ul{
	list-style: thai;
    color: #ff9800;
    font: message-box;
    font-weight: bold;
}
.meens-ul a{
    font: small-caption;
    overflow-x: hidden;
    text-decoration: none;
    font-weight: bold;
}
.meens-message
{
	color: #009688;
}
@media screen and (max-width:1000px)
{
	.post-body img {
    	height: inherit;
    	width: 100%;
	}
}
.meens-message a img {
    margin: 0 auto;
    display: block;
}

.photos_comments
{
	max-width: 200px;
    height: auto;
}

.blogger {
    height: 0;
    width: 0;
    overflow: hidden;
}
#footer{
    height: 0;
    width: 0;
    overflow: hidden;
}
video {
    max-width: 100%;
    height: auto;
}
.tkmine-audio {
  text-align: center;
  width: 0px;
  height: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
